{
  "personalTagStore": "../starling-api-web-starter-kit-personal-tag-store",
  "productionApi": "https://api.starlingbank.com",
  "publicKeyUid": "",
  "clientId": "",
  "clientSecret": "",
  "cookieSecret": "",
  "personalAccessToken": ""
}